body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logi-container {
  margin: 0 auto;
  label {
    margin-top: 10px;
  }
  .button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    color: red;
  }
}
.login {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}
